body {
    background: #DAF7A6;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
}

header {
    margin-top: 70px;
}

nav {
    position: absolute;
}

nav ul li {
    float: left;
}

h1 {
    color: orangered;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 20px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 400px;
}

#popup {
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0;
    background: orangered;
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: none;
}

#popup:target {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

#popup div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 10px;
    background-color: olivedrab;
}

#popup p {
    margin-top: 5%;
    margin-bottom: 5%;
}

.close {
    background-color: orange;
    color: royalblue;
    line-height: 25px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 10px;
    width: 24px;
    S text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.close:hover {
    background-color: saddlebrown;
}

footer {
    width: 100%;
    height: 18%;
    background-color: #b50909;
    color: #fff;
    position: relative;
    float: left;
    font-family: 'verdana';
    width: 100%;
    height: 18%;
    background-color: grey;
    color: #fff;
    position: relative;
    float: left;
    font-family: 'verdana';
    margin-bottom: 30px;
}

footer .footer-text {
    width: 30%;
    margin: 1%;
    position: relative;
    float: left;
}

footer .footer-text a {
    color: #fff;
}

#logogabs {
    width: 250px;
    margin-left: 120px;
}

.icone {
    width: 30px;
}